@import '_normalize';
@import '_vars';
@import '_one';
@import '_two';

/* Correctly removes comments - postcss-discard-comments */


/* Testing font-magician plugin */
div {
  font-family: "notify";
}


/* Testing font-pack plugin */
.foo {
    font: 1rem/1.2 roboto;
}
/* END - Testing  font-pack plugin */


body {
  /* Sass like variables: postcss-simple-vars */
  background:$rgbaVar;
  color: $mainFontColor;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;

}

/* Icon layout for test page - not important */
[class^="icon-"], [class*=" icon-"] {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 1rem;
    float: left;
}

/* Testing postcss-center */
.center-me {
    top: center;
    left: center;
    width: 80%;
    max-width: 80rem;
}

/* Correctly combined into one selector: postcss-merge-rules */
h1 {
  font-size: 50px;
}
h1 {
  font-weight: 300;
}

/* EXTEND EXAMLE */
@define-placeholder simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-i-want-to-be-simple {
  @extend simple-list;
  /* or @simple-extend-addto simple-list; */
  font-size: 1rem;
}
/* END - EXTEND EXAMLE */


span {
  border-radius:20px;
  animation:test 1s ease;

  /* Testing color manipulation plugin */
  color: color(red a(10%));
  border-color: color(hsla(125, 50%, 50%, .4) saturation(+ 10%) w(- 20%));
  
  &:hover {
    background-color: color(red lightness(50%));
  }


  &.amp-dot-class {
    /* &.class works as expected */
    width: 50px;
  }
  .class-space-amp & {
    /* `.class &` worked and changed it to `div .class {}` */
    }
    width: 70px;
  }

  @media (max-width: 500px) {
    /* Need to test indented media queries like sass further */
    background: red;
    color: blue;
  }

/* Triggers the autoprefixer */
@keyframes test {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
